/*
Seshat Choose Your Own Adventure Engine
main.css | Main Stylesheet
Max Pereira
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 18px;
}

a:link, a:visited {
    color: cyan;
}

a:hover {
    color: green;
}

a:active {
    color: darkred;
}

#headerImage {
    border-radius: 5px;
}

body {
    background-color: black;
    color: white;
}

#advTA {
    border-radius: 5px;
    background-color: #666;
    color: white;
}

#loadButton {
    border-radius: 5px;
    font-size: 16px;
    background-color: darkcyan;
    color: white;
}

#startButton {
    border-radius: 5px;
    font-size: 16px;
    background-color: darkcyan;
    color: white;    
}

#backButton {
    border-radius: 5px;
    font-size: 16px;
    background-color: darkred;
    color: white;    
}